<div class="container">
    <h1>Wie viele Kalorien haben deine Lieblingssnacks?</h1>
    <ngx-charts-bar-horizontal 
    [view]="[900,400]"
    [scheme]="'forest'"
    [results]="snacks"
    [xAxisLabel]="'Kalorien'"
    [legendTitle]="'Legende'"
    [yAxisLabel]="'Snack'"
    [legend]="true"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [xAxis]="true"
    [yAxis]="true"
    [showDataLabel]="true"
    [barPadding]="15"
    >
    <ng-template style="background-color: brown;" #tooltipTemplate let-model="model">
       <div class="tooltip">100g {{model.name}} hat {{model.value}} Kalorien</div>
      </ng-template>
</ngx-charts-bar-horizontal>
</div>

<!-- Seite existiert nicht mehr - Color Schemes: 'vivid', 'natural', 'cool', 'fire', 'solar', 'air',
'aqua', 'flame', 'ocean', 'forest', 'horizon', 'neons', 'picnic', 'night', 'nightLights' 
=> https://swimlane.github.io/ngx-charts/#/ngx-charts/bar-horizontal
-->