<div class="container">
  <h1>Wie viele Kalorien haben deine Lieblingssnacks?</h1>

  <ngx-charts-bar-horizontal
    [view]="[900,400]"
    [results]="snacks"
    [scheme]="'forest'"
    [legend]="true"
    [legendTitle]="'Legende'"
    [xAxis]="true"
    [yAxis]="true"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [xAxisLabel]="'Kalorien'"
    [yAxisLabel]="'Snacks'"
    [showDataLabel]="true">
    <ng-template #tooltipTemplate let-model="model">
      <div class="tooltip">100g {{ model.name }} haben {{ model.value }} Kalorien</div>
    </ng-template>

  </ngx-charts-bar-horizontal>
</div>

<!-- Seite existiert nicht mehr - Color Schemes: 'vivid', 'natural', 'cool', 'fire', 'solar', 'air',
'aqua', 'flame', 'ocean', 'forest', 'horizon', 'neons', 'picnic', 'night', 'nightLights' 
=> https://swimlane.github.io/ngx-charts/#/ngx-charts/bar-horizontal
-->